@import "../../styles/common";

.title {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
}

.main {
  width: 600px;
  max-width: 90vw;
  margin: 10% auto 40px auto;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .login-body {
      padding: 15px 50px;
    }
  }

}
