<div class="main">
  <div class="logo-area">
    Rebirth-Admin
  </div>
  <div class="expandor" (click)="handleExpandClick()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <div class="user-info navbar-right">
    <div reDropdown>
      <span class="username dropdown-toggle">
        &nbsp;{{dummyName}}
        <i class="menu-icon glyphicon glyphicon-user"></i>
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu">
        <li>
          <a>个人信息</a>
        </li>
         <li>
          <a>系统设置</a>
        </li>
         <li>
          <a>登出</a>
        </li>
      </ul>
    </div>
  </div>

</div>
