@import "../../../styles/common";

.main {
  height: 4.75rem;
  padding: 1.25rem 2.5rem;
  background: $color-purple;
  color: $color-white;

  & > * {
    display: inline-block;
  }
}

.expandor {
  cursor: pointer;
  padding: 0 1.25rem;
}

.logo-area {
  font-size: 1.75rem;
  font-weight: 500;
  white-space: nowrap;
}
