:host /deep/ {
  .top-menu-bar {
    margin: 0;
  }
}

app-menu-bar {
  left: 0;
  max-width: 200px;
  height: 100%;
  display: block;
  min-height: 100%;
  position: fixed;

  &+.main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
    margin-left: 80px;
  }

  &.open-menu{
    &+.main{
      margin-left: 200px;
    }
  }
}
