$color-primary: #2196f3;
$color-white: #fff;
$color-disable: #ddd;

.pipeline-config-container {
  overflow-x: auto;
  max-width: 100%;
}

.dropdown-menu {
  .active {
    background: $color-primary;
    color: $color-white;
  }
}

.clickable {
  cursor: pointer
}

.left-rect {
  stroke-width: 1;
  fill: $color-primary;
  stroke: $color-primary
}

.content-rect {
  stroke-width: 1;
  fill: $color-white;
  stroke: $color-disable
}

.right-rect {
  stroke-width: 1;
  fill: $color-white;
  stroke: $color-primary;
}

.disabled {
  cursor: not-allowed;
  fill: $color-disable;
  stroke: $color-disable;
}

.pipeline-line {
  stroke-width: 1;
  stroke: $color-primary;
}
